<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Inicio</title>
    <% include partials/head %>
    <link rel="stylesheet" href="/css/main.css">
</head>
<body>
    <div class="container">
        <div class="card text-center mt-5">
            <div class="card-body">
                <h1>
                    <span class="fa fa-lock"></span> Signin or Signup
                </h1>
                <a href="/signin" class="btn btn-light">
                    <span class="fa fa-user"></span> Local Signin
                </a>
                <a href="/signup" class="btn btn-light">
                    <span class="fa fa-user"></span> Local Signup
                </a>
            </div>
        </div>
    </div>
</body>
</html>
